# UI - SauceDemo
BASE_URL=https://www.saucedemo.com
UI_USERNAME=your_username
UI_PASSWORD=your_password
HEADLESS=false

# API - DummyJSON
API_BASE_URL=https://dummyjson.com
API_USERNAME=your_api_username
API_PASSWORD=your_api_password
